/* Add these styles to your CSS file */
.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-main {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  